.contenedor{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}


div{
    width: 200px;
    height: 200px;
}

#div1{
    background-color: red;
}
#div2{
    background-color: blue;
}
#div3{
    background-color: green;
}

#div4{
    background-color:yellow;
}

